@font-face{
    font-family: Arcade-Regular;
    src: url(Arcade-Regular.otf);
}

body{
    background-color: black;
}

.titulo{
    color: rgb(255, 240, 104);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-family: Arcade-Regular;
    margin-top: 50px;
}

.selectp{
    color: rgb(255, 240, 104);
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: Arcade-Regular;
    left: 200px;
    top: 150px;
}

.selectpl{
    color: rgb(255, 240, 104);
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: Arcade-Regular;
    left: 150px;
    top: 180px;
}

.retangulo_img{
    display: flex;
    position: absolute;
    left: 110px;
    top: 110px;
}

.retangulo_img2{
    display: flex;
    position: absolute;
    left: 110px;
    top: 700px;
}

.retangulo_img3{
    display: flex;
    position: absolute;
    left: 100px;
    top: 108px;
}

.retangulo_img4{
    display: flex;
    position: absolute;
    left: 650px;
    top: 110px;
}

.retangulo_img5{
    display: flex;
    position: absolute;
    left: 1280px;
    top: 110px;
}

.retangulo_img6{
    display: flex;
    position: absolute;
    left: 740px;
    top: 400px;
}

.selectg{
    color: rgb(255, 240, 104);
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: Arcade-Regular;
    left: 450px;
    top: 150px;
}

.selectga{
    color: rgb(255, 240, 104);
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: Arcade-Regular;
    left: 450px;
    top: 180px;
}

.titulo1{ 
    color: #ACD2FF;
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-family: Arcade-Regular;
    margin-top: 610px;
    left: 100px;
} 

.selectsc{
    color: rgb(255, 240, 104);
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: Arcade-Regular;
    left: 790px;
    top: 270px; 
}

.selectsc2{
    color: rgb(255, 240, 104);
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: Arcade-Regular;
    left: 790px;
    top: 470px; 
}

.cadastro{
    background-color: #ACD2FF ;
    display: flex;
    position: absolute;
    left: 780px;
    top: 300px;
    width: 400px;
    height: 30px;
    color: rgb(209, 0, 0);
    font-family: Arcade-Regular;
    border: none;
}

.cadastro2{
    background-color: #ACD2FF ;
    display: flex;
    position: absolute;
    left: 780px;
    top: 500px;
    width: 400px;
    height: 30px;
    color: rgb(209, 0, 0);
    font-family: Arcade-Regular;
    border: none;
}

.botao{
    display: flex;
    position: absolute;
    background-color: transparent;
    border: transparent;
    font-family: Arcade-Regular;
    color: rgb(255, 240, 104);
    font-size: 20px;
    left: 880px;
    top: 600px;
}

.email_pagxlog{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 1px;
    font-family: Arcade-Regular;
    font-size: 9px;
    margin-top: 50px;
    margin-bottom: -50px;
    margin-left: 120px;
}

.arrumar_list{
    height: 5px;
}
