@font-face {
  font-family: Arcade-Regular;
  src: url(Arcade-Regular.otf);
}

input[type="file"]{
  display: none;
}

body{
  background-color: #000000;
}

a{
  color: white;
}

a:hover {
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 5px solid;
  color: black;
}

a.products:hover {
  border-bottom: 0;
}

ul li {
  padding: 25px;
}

.level-3, .level-4 {
	position: absolute;
}

.level-3 ul {
	display: inline-block;
	position: absolute;
	margin: 0 15%;
}

.level-4 ul {
	display: inline-block;
	position: absolute;
	margin: 0 15%;
}

.list-inline-item{
  font-size: 20px;
  font-family: Impact;
}

#site-navigation{
  background-color: #e32636;
}
#game-bg{
  background-image: url('game-bg.png');
  background-size: 1366px, 768px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.linha1{
  width: 800px;
  height: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20.5%;
  margin-top: 6%;
}

.arcade{
  font-size: 130px;
  color: #FF3D00;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 10px 10px 0 #992b00;
  font-family: Arcade-Regular;
  margin-top: 25px;
}

.l80{
  font-size: 130px;
  color: #F18405;
  text-shadow: 10px 10px 0 #bb6604;
  font-family: Arcade-Regular;
  margin-top: 40px;
}

.linha2{
  width: 265px;
  height: 5px;
}

.linha4{
  width: 170px;
  height: 5px;
}

.linha3{
  width: 150px;
  height: 5px;
}

.linha80{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.start{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: Arcade-Regular;
  margin-top: 45px;
  color: white;
  animation: animate 1.5s linear infinite;
}
h4{
  font-family: Arcade-Regular;
  color: white;
  font-size: 15px;
}
.creditos{
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.gamestop{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gamestt{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #FFFF00;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Arcade-Regular;
}

.gameslist{
  background-color: #0F0F2D;
  height: 70%;
  width: 38%;
  border: white 5px solid;
  margin-left: 31%;
}

/* .gamespg{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.ranklist{
  background-color: #0F0F2D;
  height: 60%;
  width: 38%;
  border: white 5px solid;
  margin-left: 31%;
}

.pacman{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}
.body_perfil{
  background-color: black;
}

.titulo{
  color: #FFB851;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: Arcade-Regular;
  margin-top: 50px;
}

.text_rank{
  color: #FF0000;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: Arcade-Regular;
  left: 300px;
}

.text_exit:hover {
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 5px solid;
  color: red;
}

.text_exit{
  color: #FF0000;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: Arcade-Regular;
  left: 950px;
  top: 165px;
}

.text_player{
  color: #00FFFF;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: Arcade-Regular;
  left: 490px;
  top: 300px;
}

.text_email{
  color: #00FFFF;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: Arcade-Regular;
  left: 750px;
  top: 300px;
}

.text_scores{
  color: #00FFFF;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: Arcade-Regular;
  left: 400px;
  top: 440px;
}

.text_perfil{
  color: #00FFFF;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: Arcade-Regular;
  left: 750px;
  top: 440px;
}



/*Página de Venda*/



/* .venda_body{
   background-image: url("image1.png"); 
   background-repeat: no-repeat; 
   background-color: rgb(75, 75, 173); 
} */

.text_venda{
  display: flex;
  position: absolute;
  left: 560px;
  top: 10px;
  font-size: 60px;
  font-family: Arcade-Regular;
  color: #FF5C00;
}

.retangulo1{
  display: flex;
  position: absolute;
  left: 60px;
  top: 10px;
  width: 460px;
  height: 11px;   
}

.retangulo2{
  display: flex;
  position: absolute;
  left: 830px;
  top: 10px;
  width: 460px;
  height: 11px;   
}

.retangulo3{
  display: flex;
  position: absolute;
  left: 120px;
  top: 65px;
  width: 400px;
  height: 11px;   
}

.retangulo4{
  display: flex;
  position: absolute;
  left: 830px;
  top: 65px;
  width: 400px;
  height: 11px;   
}

.retangulo5{
  display: flex;
  position: absolute;
  left: 1230px;
  top: 65px;
  width: 11px;
  height: 260px;   
}

.retangulo6{
  display: flex;
  position: absolute;
  left: 115px;
  top: 65px;
  width: 11px;
  height: 260px;   
}

.retangulo7{
  display: flex;
  position: absolute;
  left: 1280px;
  top: 10px;
  width: 11px;
  height: 315px;   
}

.retangulo8{
  display: flex;
  position: absolute;
  left: 60px;
  top: 15px;
  width: 11px;
  height: 310px;   
}

.retangulo9{
  display: flex;
  position: absolute;
  left: 1230px;
  top: 305px;
  width: 11px;
  height: 390px;   
}

.retangulo10{
  display: flex;
  position: absolute;
  left: 115px;
  top: 305px;
  width: 11px;
  height: 390px; 
}

.retangulo11{
  display: flex;
  position: absolute;
  left: 60px;
  top: 355px;
  width: 11px;
  height: 390px;
}

.retangulo12{
  display: flex;
  position: absolute;
  left: 1280px;
  top: 355px;
  width: 11px;
  height: 390px;
}

.retangulo13{
  display: flex;
  position: absolute;
  left: 60px;
  top: 735px;
  width: 330px;
  height: 11px;
}

.retangulo14{
  display: flex;
  position: absolute;
  left: 960px;
  top: 735px;
  width: 330px;
  height: 11px;
}

.retangulo15{
  display: flex;
  position: absolute;
  left: 510px;
  top: 735px;
  width: 330px;
  height: 11px;
}

.retangulo16{
  display: flex;
  position: absolute;
  left: 115px;
  top: 685px;
  width: 1125px;
  height: 11px;
}

.retangulo17{
  display: flex;
  position: absolute;
  left: 165px;
  top: 135px;
  width: 295px;
  height: 11px;
}

.retangulo18{
  display: flex;
  position: absolute;
  left: 165px;
  top: 135px;
  width: 11px;
  height: 475px;
}

.retangulo19{
  display: flex;
  position: absolute;
  left: 167px;
  top: 600px;
  width: 295px;
  height: 11px;
}

.retangulo20{
  display: flex;
  position: absolute;
  left: 455px;
  top: 135px;
  width: 11px;
  height: 475px;
}


/* 

*/


.retangulo21{
  display: flex;
  position: absolute;
  left: 525px;
  top: 135px;
  width: 295px;
  height: 11px;
}

.retangulo22{
  display: flex;
  position: absolute;
  left: 520px;
  top: 135px;
  width: 11px;
  height: 475px;
}

.retangulo23{
  display: flex;
  position: absolute;
  left: 525px;
  top: 600px;
  width: 297px;
  height: 11px;
}

.retangulo24{
  display: flex;
  position: absolute;
  left: 815px;
  top: 135px;
  width: 11px;
  height: 475px;
}

/* 

*/

.retangulo25{
  display: flex;
  position: absolute;
  left: 883px;    
  top: 135px;
  width: 295px;
  height: 11px;
}

.retangulo26{
  display: flex;
  position: absolute;
  left: 880px;
  top: 135px;
  width: 11px;
  height: 475px;
}

.retangulo27{
  display: flex;
  position: absolute;
  left: 883px;
  top: 600px;
  width: 297px;
  height: 11px;
}

.retangulo28{
  display: flex;
  position: absolute;
  left: 1170px;
  top: 135px;
  width: 11px;
  height: 475px;
}

.text_1real{
  display: flex;
  position: absolute;
  left: 240px;
  top: 170px;
  font-size: 50px;
  color: #FFFFFF;
}

.text_5real{
  display: flex;
  position: absolute;
  left: 600px;
  top: 170px;
  font-size: 50px;
  color: #FFFFFF;
}

.text_10real{
  display: flex;
  position: absolute;
  left: 940px;
  top: 170px;
  font-size: 50px;
  color: #FFFFFF;
}

.retangulo29{
  display: flex;
  position: absolute;
  left: 935px;
  top: 510px;  
}

.retangulo30{
  display: flex;
  position: absolute;
  left: 575px;
  top: 510px;  
}

.retangulo31{
  display: flex;
  position: absolute;
  left: 215px;
  top: 510px;  
}

.ficha3{
  display: flex;
  position: absolute;
  left: 945px;
  top: 220px;
  height: 175px;   
}

.ficha2{
  display: flex;
  position: absolute;
  left: 590px;
  top: 240px;
  height: 175px;  
}

.ficha1{
  display: flex;
  position: absolute;
  left: 230px;
  top: 235px; 
  height: 175px;  
}

.text_compra1{
  display: flex;
  position: absolute;
  left: 950px;
  top: 515px;
  color: #FFFFFF;
  background-color: transparent;
  border-color: transparent;
}

.text_compra2{
  display: flex;
  position: absolute;
  left: 590px;
  top: 515px;
  color: #FFFFFF;
  background-color: transparent;
  border-color: transparent;
}

.text_compra3{
  display: flex;
  position: absolute;
  left: 228px;
  top: 515px; 
  color: #FFFFFF;
  background-color: transparent;
  border-color: transparent;
}

.text_quant1{
  display: flex;
  position: absolute;
  left: 265px;
  top: 380px;
  color: #FF7C03; 
  font-size: 100px;
}

.text_quant2{
  display: flex;
  position: absolute;
  left: 620px;
  top: 380px;
  color: #FF7C03; 
  font-size: 100px;
}

.text_quant3{
  display: flex;
  position: absolute;
  left: 960px;
  top: 380px;
  color: #FF7C03; 
  font-size: 100px;
}

.tela_venda{
  display: flex;
  position: absolute;
  margin-top: 30px;
}

.botao_venda1{
  display: flex;
  position: absolute;
  left: 935px;
  top: 510px;  
  width: 205px;
  height: 70px;
  opacity: 0%;
}

.botao_venda2{
  display: flex;
  position: absolute;
  left: 575px;
  top: 510px;  
  width: 205px;
  height: 70px;
  opacity: 0%;
}

.botao_venda3{
  display: flex;
  position: absolute;
  left: 215px;
  top: 510px;  
  width: 205px;
  height: 70px;
  opacity: 0%;
}

#jogosbg{
  background-image: url("bgim14.jpg");
  overflow: hidden;
}

#placarbg{
  background-image: url("bgr3.webp") ;
  background-position: 115px -100px;
  background-repeat: no-repeat;
}

.rank_lugar{
  width: 12%;
}

#rank_lugar{
  font-size: 25px;
  color: white;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: -12px;
}

.start{
  display: flex;
  position: absolute;
  top: 350px;
  left: 590px;
}

.email_listar{
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Arcade-Regular;
  left: 750px;
  top: 350px;
}

.nome_listar{
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Arcade-Regular;
  left: 490px;
  top: 350px;
}

.img_perfil{
  position: absolute;
  left: 750px;
  top: 490px;
  width: 255px;
  height: 170px;
}

 .botoes_perfil{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  left: 1015px;
  top: 530px;
} 

 .ft_pf{
  height: 30px;
  width: 130px;
  color: white;
  background: none;
  border: none;
}

.ft_pfReal{
  font-size: 10px;
  font-family: Arcade-Regular;
  color: white;
}

.jogo1{
  display: flex;
  position: absolute;
  flex-direction: row;
  font-family: Arcade-Regular;
  color: white;
  left: 445px;
  top: 220px;
  font-size: 20px;
  background: none;
  border: none;
}

.jogo1-input{
  color: white;
  background: none;
  border: none;
}

.maxPontos_listar{
  position: absolute;
  color: white;
  font-size: 25px;
  font-family: Arcade-Regular;
  left: 500px;
  top: 490px;
}

#nome2_listar{
  font-size: 20px;
}

  /* #nome2_listar{
  position: absolute;
  margin-top: -285px; 
  left: 480px; 
  font-size: 28px;
  color: white;
}   */

.rank_listar{
  position: absolute;
  display: flex;
  left: 510px ;
  top: 210px;
  gap: 5px;
}

.listacao{
  color: white;
  font-family: Arcade-Regular;
  gap: 10px;
}

#pontos_listar{
  font-size: 25px;
  color: #e32636;
}

#list_c_ficha{

}

.mostrar_fichas{
  position:absolute;
  color: white;
  font-family: Arcade-Regular;
  top: 20px;
  left: 1100px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #000000;
  width: 70px;
  height: 50px;
}

.mostr-ficha{
  position: absolute;
  left: 7px;
  top: 10px;
}

.ficha_imagem{
  position: absolute;
  width: 60px;
  top: -5px;
  left: 70px;
}

.rank_user_listar{
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Arcade-Regular;
  left: 320px;
  top: 200px;
}


